<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- Sidebar -->
<nav class="w3-sidebar w3-black w3-animate-top w3-xxlarge" style="display:none;padding-top:150px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-black w3-xxlarge w3-padding w3-display-topright" style="padding:6px 24px">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
<<<<<<< HEAD
    <a href="http://localhost:3000/index" class="w3-bar-item w3-button w3-text-grey w3-hover-black">BLOG</a>
    <a href="http://localhost:3000/Contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black">CONTACT</a>
    
    <a href="http://localhost:3000/Info" class="w3-bar-item w3-button w3-text-grey w3-hover-black">INFO</a>
=======
    <a href="http://localhost:3000/Blog" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Blog</a>


    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black">Contact</a>
>>>>>>> fb7861cabe7cc593efabd85bc2c74744ce3aada9
  </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:100%">

<!-- Header -->
<div class="w3-opacity">
<span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>
<div class="w3-clear"></div>
<header class="w3-center w3-margin-bottom">
  <h1><b>WELCOME!</b></h1>
<<<<<<< HEAD
  
  <p class="w3-padding-16"><button class="w3-button w3-black" onclick="window.location.href='http://localhost:3000/index'">EXPERIENCE</button></p>
=======

  <p class="w3-padding-16"><button class="w3-button w3-black" onclick="myFunction()">EXPERIENCE</button></p>
>>>>>>> fb7861cabe7cc593efabd85bc2c74744ce3aada9
</header>
</div>

<!-- Photo Grid -->
<div class="w3-row" id="myGrid" style="margin-bottom:128px">
   <div class="w3-third" style=" width: 100%">
    <img src="https://images.pexels.com/photos/984539/pexels-photo-984539.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">
    <img src="https://images.pexels.com/photos/1036857/pexels-photo-1036857.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">
    <img src="https://images.pexels.com/photos/968243/pexels-photo-968243.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">

  </div>

  <div class="w3-third" style="width: 100%">
    <img src="https://images.pexels.com/photos/1037999/pexels-photo-1037999.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">
    <img src="https://images.pexels.com/photos/1036808/pexels-photo-1036808.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">
    <img src="https://images.pexels.com/photos/994523/pexels-photo-994523.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">

  </div>

  <div class="w3-third" style="width: 100%">
    <img src="https://images.pexels.com/photos/1011337/pexels-photo-1011337.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">
    <img src="https://images.pexels.com/photos/1020323/pexels-photo-1020323.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">
    <img src="https://images.pexels.com/photos/1051075/pexels-photo-1051075.jpeg?auto=compress&cs=tinysrgb&h=350" style="width:100% ; max-height: 700px; margin-left: 0%">

	</div>
</div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin-top:128px">
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
<!--   <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
--></footer>

<script>
<<<<<<< HEAD
=======
// Toggle grid padding
function myFunction() {
    var x = document.getElementById("myGrid");
    if (x.className === "w3-row") {
        x.className = "w3-row-padding";
    } else {
        x.className = x.className.replace("w3-row-padding", "w3-row");
    }
}
>>>>>>> fb7861cabe7cc593efabd85bc2c74744ce3aada9

// Open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.width = "100%";
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
