<% provide(:page_title, 'Profile') %>



<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>


<ul>
 <li><a href="http://localhost:3000/posts" >POST</a></li>

 <li><a href="http://localhost:3000/Profile" >PROFILE</a></li>

  <li><a href="http://localhost:3000/posts/new" >NEW POST</a></li>



</ul>

<br>



<div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>

    </div>
    <div>
    <%= yield %>
    </div>
</body>
</html>
