<% provide(:page_title,@post.title) %>
<% provide(:blog_active,'active') %>

<div class="row">
	<div class="col-md-10 offset-md-1 col-lg-8 offset-leg-2 text-xs-center">
		<h1><%= @post.title %></h1>
		<p><%= @post.dysplay_day_published %></p>
		<%= @post.body %>
	</div>
	
</div>
<br>
<div>
	
	<%= link_to 'Remove', post_path(@post), method: :delete , data: { confirm: 'Sei sicuro di voler cancellare questo post?'} ,class:'btn btn-sm btn-danger'%>
</div>
