<!DOCTYPE html>
<html>
<head>
<style>
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color:#CCCCCC  ;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}


/* Style the top navigation bar */
.topnav {
      overflow: hidden;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: center;
    padding-right: 40px;
  
}

/* Right column */
.rightcolumn {
   
    width: 25%;
    background-color: #CCCCCC;
    padding-right: 40px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
</style>

    <script>
        function myFunction() {
            var type;
            if (confirm("VUOI DIVENTARE UN UNTENTE GOLD?")) {
                type="gold";
            } else {
                type="free";
            }
            localStorage.setItem("typeU" ,type);
        }
          function my() {
            var type;
            if (confirm("VUOI restare"+" "+localStorage.typeU)) {
                type="gold";
            } else {
                type="free";
            }
            localStorage.setItem("typeU" ,type);
        }
    </script>


</head>
<body>




<div class="topnav">
  <a href="http://localhost:3000/posts">Posts</a>
  <a href="http://localhost:3000/Profile">Profile</a>
  <a href="http://localhost:3000/ricerca" >FIND INSPIRATION</a>
  <a href="http://localhost:3000/posts/new">New Post</a>
  <a href="http://localhost:3000" style="float:right">To Back</a>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>WHAT DO YOU WANT TO BE?</h2>

      <img src="https://images.pexels.com/photos/257897/pexels-photo-257897.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" width="100%">
      <br>
      <p id="o" >
      <br>
      SELEZIONA UTENTE:
      <ul>
        <li>utente free  è l'utente base</li>
        <li>utente gold è l'untente premium</li>
        
      </ul>
     
      <br>




    </div>
    <div class="card">



      <% if current_user %>
       <h2>Logout</h2>
        Signed in as <strong><%=current_user.name%></strong>!
        <a  onClick="my()" <%= link_to "Sign out", signout_path, id: "sign_out" %> />
      <% else %>
      <h2>Login</h2>

        <a onclick="myFunction()" href="/auth/google_oauth2">

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEsXB9VU6fVwxUqcZZFgAqSTQiQfHZI2pD1ValAKXZFGhnBZe9" alt="HTML tutorial" style="width:42px;height:42px;border:0">
      </a>
      <% end %>

     
    </div>
  </div>
 
</div>



</body>
<script type="text/javascript">
  function validate(){
    if(localStorage.type==free){
      document.getElementById("o").innerHTML = "Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.";
    }else if(localStorage.type==gold){
       document.getElementById("o").innerHTML = "Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.CACAAAAAAAAs";

    }
  }
  /*
  function myFunctionPoraccio() {
  document.getElementById("poraccio").innerHTML = "Hello World";
 }

  function myFunctionCavaliere() {
  document.getElementById("cavaliere").innerHTML = "Hello ";
}*/
function validateUtente() {
    if (document.getElementById("option1").checked == true) {
        localStorage.setItem("type", "free");
        alert("Local Test: " + localStorage.type);
        document.getElementById("demo").innerHTML = "Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.";



    }
    else if (document.getElementById("option2").checked == true) {
      localStorage.setItem("type", "gold");
        alert("Local Test: " + localStorage.type);
        document.getElementById("demo").innerHTML = "Hello n culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation  ";
    }

    else {
        // DO NOTHING
        }
    }


</script>
</html>


