<% provide(:page_title, 'Search') %>
<% provide(:blog_title, 'active') %>
<p id="notice"><%= notice %></p>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<head>
<style type="text/css">

body {
    font-family: Arial;
   
    background-color:#CCCCCC  ;
}
div.container {
  text-align: center;
  padding: 10px 15px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    list-style-type: none;
    margin: 0;
   
   
   
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
</style>
<div class="topnav">
    <a href="http://localhost:3000/posts">POST</a>
  <a href="http://localhost:3000/Profile">PROFILE</a>
  <a href="http://localhost:3000/posts/new">NEW POST</a>
 
  <a href="http://localhost:3000" style="float:right">TO BACK</a>
</div>

<div class="w3-light-grey w3-padding-64 w3-margin-bottom w3-center">
  <h1 class="w3-jumbo">Search image from PIXABY!</h1>
</div>

<div class="container">
  <%= @img_urls.each do |url| %>
  	<img src="<%= url %>"  style="width:30%;"/>
  <% end %>
</div>


