<% provide(:page_title, "Edit #{@post.title}") %>
<% provide(:blog_title, 'active') %>
<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
