<% provide(:page_title, 'All Posts') %>
<% provide(:blog_title, 'active') %>
<p id="notice"><%= notice %></p>


<!DOCTYPE html>
<html>
<head>
<style>
body {margin:0px;}


  
div.polaroid {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 35px;
  margin: auto;
  
    
  padding: 20px;

}

div.container {
  text-align: center;
  padding: 10px 20px;
}


ul {
    list-style-type: none;
    margin: 10;
    padding: 20;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>


<ul>
 <li><a href="http://localhost:3000/posts" >POST</a></li>
  
 <li><a href="http://localhost:3000/Profile" >PROFILE</a></li>
  
  <li><a href="http://localhost:3000/posts/new" >NEW POST</a></li>
  <li><a href="http://localhost:3000/ricerca" >FIND INSPIRATION</a></li>
    <li><a href="http://localhost:3000" >TO BACK</a><li>
  
 

</ul>

<br>
<table>



  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <br>
        <div class="polaroid">
          <img src="<%= post.banner_image_url %>"  style="width:100%;" />
            <div class="container">
              <p>
                <%= post.title %>
                <br>
                <%= link_to 'Show', post %>
              </p>
            </div>
        </div>
        <br>
      
      
      
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</body>
</html>



