<% provide(:page_title, 'New Post') %>
<% provide(:blog_title, 'active') %>



<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>


<ul>
 <li><a href="http://localhost:3000/posts" >POST</a></li>

  
 <li><a href="http://localhost:3000/Profile" >PROFILE</a></li>
  <li><a href="http://localhost:3000/ricerca" >FIND INSPIRATION</a></li>
  <li><a href="http://localhost:3000/posts/new" >NEW POST</a></li>
  
 

</ul>

<br>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>


</body>
</html>