<% provide(:about_active,'active') %>
<h1>Login Page</h1>

<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">

<div id="wrapper">
  <div class="main-content">
    <div class="header">
      <img src="https://www.freepnglogos.com/uploads/black-instagram-logo-icon-png-10.png" style="width:5%";/>    EXPERIENCE! 
    </div>
    <br>
    <div class="l-part">
      <input type="text" placeholder="Username" class="input-1" />
      <div class="overlap-text">
        <input type="password" placeholder="Password" class="input-2" />
        <a href="#">Forgot?</a>
      </div>
      <input type="button" value="Log in" class="btn" />
    </div>
  </div>
  <div class="sub-content">
    <div class="s-part">
      Don't have an account?<a href="#">Sign up</a>
 	<div>
	      <% if current_user %>
		<li><%= current_user.name %></li>
		 
		<%= link_to "Sign out", signout_path, id: "sign_out" %>
	      <% else %>
		<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
	      <% end %>
   </>
    </div>
  </div>
</div>




<!-- By Coding Market -->
<div class="youtube">
  <a href="https://www.youtube.com/channel/UCtVM2RthR4aC6o7dzySmExA" target="_blank">by coding market</a>
</div>

