<% provide(:page_title, 'All Posts') %>
<% provide(:blog_title, 'active') %>
<p id="notice"><%= notice %></p>
<!DOCTYPE html>


<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<script type="text/javascript">
			function start() {
			var A = document.getElementById('divmn');

			var isPremium = localStorage.typeU;

			if (isPremium == 'gold') {
                alert("GOLD!");
				A.style.display = '';
			}
			else {
                alert("Free!");
				A.style.display = 'none';
			}
		}
		</script>

	<script type="text/javascript">
/*		<% if current_user %>
		<% else %>
			alert("EFFETTUA LOGIN!");
			window.location="http://localhost:3000/Profile";
		<% end %>
	</script>


	<style>
		body {
		background-color:#CCCCCC  ;
		margin:0px;}



		div.polaroid {
		width: 30%;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		margin-bottom: 35px;
		margin: auto;
		padding: 5px;}

		div.container {
		text-align: center;
		padding: 10px 15px;}


		ul {
		overflow: hidden;
		background-color: #333;
		list-style-type: none;
		margin: 0;
		padding: 0;
		top:0;
		position: -webkit-sticky; /* Safari */
		position: sticky;}

		li {
		float: left;
		}

		li a {
		display: block;
		color: white;
		text-align: center;
		padding: 20px 20px;
		text-decoration: none;}

		li a:hover {
		background-color: #111;
		}
	</style>



</head>

<body onload="start()">

<ul>
 <li><a href="http://localhost:3000/posts" >POST</a></li>

 <li><a href="http://localhost:3000/Profile" >PROFILE</a></li>

  <li><a href="http://localhost:3000/posts/new" >NEW POST</a></li>
  <li><a href="http://localhost:3000/ricerca" >FIND INSPIRATION</a></li>
   <li><a href="http://localhost:3000" >TO BACK</a></li>



</ul>

<br>


<table>



  <tbody>
    <% @posts.each do |post| %>
      <tr>

        <br>
        <div class="polaroid">
          <img src="<%= post.banner_image_url %>"  style="width:100%;" />
            <div class="container">
              <p>
                <%= post.title %>
                <br>
                <div id="divmn">
                   <%= link_to 'Show', post %>
                </div>
              </p>
            </div>
        </div>
        <br>
      </tr>
      <br>
      <br>
      <br>
      <br>
      <br>

    <% end %>
  </tbody>
</table>

<br>
</body>
</html>
