<% provide(:page_title, 'New Post') %>
<% provide(:blog_title, 'active') %>



<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>








<style>
.container {
    box-sizing: border-box;
    padding: 20px 20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}



input[type=submit] {
    
    padding: 12px 20px;
    
    cursor: pointer;
    float: right;
}



.containerr {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px 40px; 
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}





body{
    background-color:#CCCCCC  ;
}
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body  >


<ul>
 <li><a href="http://localhost:3000/posts" >POST</a></li>

  
 <li><a href="http://localhost:3000/Profile" >PROFILE</a></li>
  <li><a href="http://localhost:3000/ricerca" >FIND INSPIRATION</a></li>
  <li><a href="http://localhost:3000/posts/new" >NEW POST</a></li>
  
 

</ul>

<br>
<br>
<br>

<div class="w3-row-padding w3-content" style="max-width:1400px">
  <div class="w3-twothird">
    <img src="https://images.pexels.com/photos/861126/pexels-photo-861126.jpeg?cs=srgb&dl=arch-architecture-blur-861126.jpg&fm=jpg"  style="width:100%">
    
   
  </div>
  <div class="w3-third">
    <div class="w3-container w3-light-grey">
        <%= render 'form', post: @post %>

        <%= link_to 'Back', posts_path %>
      
    </div>
    <br>
    <div class="w3-container w3-light-grey w3-justify">
      <h2>What can I do?</h2>
      <p class="w3-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua fai una foto!? .</p>
    </div>
    <br>
  
  </div>
</div>



</body>
</html>


