<% provide(:page_title, @post.title) %>
<% provide(:blog_title, 'active') %>



<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript">
            function start() {
            var A = document.getElementById('divmn');

            var isPremium = localStorage.typeU;

            if (isPremium == 'gold') {
                A.style.display = '';
            }
            else {
                alert("Un utente Free non può visionare questo elemento!");
                window.location="http://localhost:3000/Profile";
            }
        }
 </script>
<style>
ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
div.centro{
  
    
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}
</style>
</head>
<body onload="start()">


<ul>
 <li><a href="http://localhost:3000/posts" >POST</a></li>
  
 <li><a href="http://localhost:3000/Profile" >PROFILE</a></li>
  
  <li><a href="http://localhost:3000/posts/new" >NEW POST</a></li>
  
 

</ul>

<br>

<div class="divmn">
<p id="notice"><%= notice %></p>
<div class="centro">
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body text:</strong>
  <%= @post.body_text %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>




<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Destroy', post_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</div>
</div>
</body>
</html>
 