

<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>


<ul>
  <li><%= link_to 'Blog', root_path, class: "nav-link #{yield(:blog_active)}" %></li>
  <li><%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %></li>
  <li><%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %></li>
  <li><a href="http://localhost:3000/posts/new" >NEW POST</a></li>
	
 

</ul>

<br>

</body>
</html>
