.navbar {
    border-radius: 0;
    margin-bottom: 20px;
    
    .navbar-brand {
        font-weight: bolder;
        
        .light {
            font-weight: 300;
            
        }
    }
    .navbar-toggler {
        outline: 15px;
    }
    
    
}

.collapse-bg {
    padding: 0 !important;
    .card {
        margin-bottom: 10px;
	
        border-radius: 0;
        border: 5px solid black;
    }
}


.collapse-bg .card .list-group-item {
    padding: 0;
    border-radius: 0 !important;
    border-color: black;
    a {
        background-color: #1a1a1a;
        color: #bdc3c7;
        width: 100%;
        height: 100%;
        padding: 10px;
        &:active {
            color: white;
            border-bottom: none;
        }
    }
}
