
<div class='col-sm-6 col-lg-4'>
	
	<div class="card">
		<div class="card-topper">
		<img src="<%= post.banner_image_url %>" style="width:100%;" />
				
			
		</div>
		<div class="card-block">
			
			<h4 class="card-title"><%= link_to post.title, post %></h4>
			<p class="published-date"><%= post.dysplay_day_published %></p>
			<p class="card-text"><%= truncate(post.description, length:130) %></p>
			<%= link_to 'Read' , post,class: 'btn btn-read' %>
		</div>
	</div>
</div>
