.post.index{
	.card{
		border:double;
		border-radius:100;
		border-bottom:100px solid #181818;
		height:2400px;
		margin-bottom:20px;
		.card-topper{
			height:2200px;
			width:100%;
			background-size: cover;
			background-position:center;
		}
		.card-block{
			padding:10px;
			.btn-read{
				background-color:#e8e8e8;
				font-weight:300;
				border-radius:0;
				color:black;
				&:hover{
					background-color: #d8d8d8;
				}
			}
			.card-title{
				font-size:2.0rem;
				margin-bottom:1.0rem;
				a{
					color:black;
					text-decoration:none;
				}
				.published-date{
					font-size:0.8rem;
					color:#787878;
					font-weight:300;
					margin-top:0.3rem;
					margin-bottom:0.3rem;
				}
				.card-text{
					font-size:0.9rem;
				}
			}
		}
	}
}
@media screen and (min-width: 34em){
	.posts.index .card{
		height:440px;
	}
}

@media screen and (min-width: 48em){
	.post.index .card{
		height:420px;
	}
}
@media screen and (min-width: 75em){
	.post.index .card{
		height: 415px;
	}
}