<% provide(:contact_active,'active') %>
<h1>Contact Page</h1>

<form action="/cgi-bin/FormMail.pl" method="POST">
<input type=hidden name="recipient" value="Experience@localhost.com">
<input type=hidden name="subject" value="Nuovo messaggio da Experience!">
<table border="0" cellspacing="0" cellpadding="5" align="center">
 <tr>
 <td><b> Nome e Cognome:</b></td>
 <td align="right"><input type=text name="realname"></td>
 </tr>
 <tr>
 <td><b>Email:</b></td>
 <td align="right"><input type=text name="email"></td>
 </tr>
 <tr>
 <td colspan="2"><b>Messaggio:</b></td>
 </tr>
 <tr>
 <td colspan="2"><textarea name="messaggio" cols="40" rows="5"></textarea></td>
 </tr>
 <tr>
 <td colspan="2" align="center"><input type="Submit" value="Invia"></td>
 </tr>
</table>
<input type=hidden name="required" value="email,realname,messaggio">
</form>